<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title> Basic Calculator App </title>
    <link rel="stylesheet" type="text/css" href="./style/main.css">
  </head>
  <body>
    <section class="main-container" ng-controller="mainCtrl">
      <section class="calculator">
      <div class="top-row" style="color: white">
                <h1> {{output}} </h1>
      </div>
      <div class="row">
        <div class="button" id="clear" ng-click="clear()"> AC </div>
        <div class="button" ng-click="clickNeg()"> +/- </div>
        <div class="button" ng-click="clickPercent()"> % </div>
        <div class="button-orange" ng-click="clickDiv(' / ')"> / </div>
      </div>
      <div class="row">
        <div class="button" ng-click="click(7)"> 7 </div>
        <div class="button" ng-click="click(8)"> 8 </div>
        <div class="button" ng-click="click(9)"> 9 </div>
        <div class="button-orange" ng-click="clickMult(' * ')"> * </div>
      </div>
      <div class="row">
        <div class="button" ng-click="click(4)"> 4 </div>
        <div class="button" ng-click="click(5)"> 5 </div>
        <div class="button" ng-click="click(6)"> 6 </div>
        <div class="button-orange" ng-click="clickSub(' - ')"> - </div>
      </div>
      <div class ="row">
        <div class="button" ng-click="click(1)"> 1 </div>
        <div class="button" ng-click="click(2)"> 2 </div>
        <div class="button" ng-click="click(3)"> 3 </div>
        <div class="button-orange" ng-click="clickAdd(' + ')"> + </div>
      </div>
      <div class="row">
        <div class="button0" ng-click="click(0)"> 0 </div>
        <div class="button" ng-click="clickDecimal('.')"> . </div>
        <div class="button-orange" id="equalbox" ng-click="clickCalc()"> = </div>
      </div>
  </section>
</section>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/controller.js"></script>
  <script src="./js/service.js"></script>
  </body>
</html>
